# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/

# TypeScript
*.tsbuildinfo

# macOS / Windows
.DS_Store
Thumbs.db

# Android
android/
*.keystore

# iOS
ios/
Pods/
*.xcworkspace
*.xcuserdata

# IDEs / Tools
.vscode/
.idea/
*.swp

# Env files
.env
.env.*
